body {
  min-width: 1210px;
  margin: 0;
  padding: 0;
  background-color: $bg-backup;
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: $color-black;
  font-family: $font-std;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.webp body {
  background-image: url('../img/bg-hero.webp');
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.blue {
  color: $color-primary;
}
