.page-header {
  background-color: rgba($color-secondary-dark, 0.85);
  color: $color-white;
  text-transform: uppercase;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}

.page-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.site-nav {
  width: 570px;
}
