.main-services {
  background-color: $color-primary;
  color: $color-white;
}

.services {
  padding-top: 68px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin: 39px 0 0;
  padding: 0;
  list-style: none;
}

.service {
  width: 270px;
  margin-bottom: 75px;
  padding-top: 55px;
  font-weight: 600;
}

.service--coffee {
  background-image: url("../img/icon-coffee.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 34px 48px;
}

.service--instant {
  background-image: url("../img/icon-instant.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 48px 48px;
}

.service--serious {
  background-image: url("../img/icon-serious.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 47px 45px;
}

.service--frame {
  background-image: url("../img/icon-frame.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 48px 48px;
}

.service__title {
  margin: 7px 0 0;
  font-size: 24px;
  text-transform: uppercase;
}

.service__text {
  margin: 7px 0 0;
  font-size: 12px;
}
