.menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-left: 30px;
}

.menu__link {
  display: inline-block;
  padding: 4px 17px;
  transition: color 0.3s ease-out;
  border: 2px solid transparent;
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  &:last-child {
    margin-right: -20px;
  }

  &:hover {
    color: white(0.5);
  }

  &:active {
    color: white(0.2);
  }

  &.is-active {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.menu--dark {
  .menu__link {
    &:hover {
      color: black(0.5);
    }

    &:active {
      color: black(0.3);
    }

    &.is-active {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}
