.section {
  padding-top: 68px;
  padding-bottom: 73px;
}

.section__title {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: white;
  }
}
