$color-black: #000;
$color-white: #fff;

$color-primary: #4bcaff;
$color-secondary: #515f67;
$color-secondary-dark: #353f47;

$bg-backup: #515f68;

$font-std: "Selawik", Helvetica, Arial, sans-serif;
