@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: 700; // bold
  src:
    url('../fonts/selawik-bold.woff2') format('woff2'),
    url('../fonts/selawik-bold.woff') format('woff');
}

@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: 600; // semi-bold
  src:
    url('../fonts/selawik-semibold.woff2') format('woff2'),
    url('../fonts/selawik-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: 400; // normal
  src:
    url('../fonts/selawik.woff2') format('woff2'),
    url('../fonts/selawik.woff') format('woff');
}

@font-face {
  font-family: 'Selawik';
  font-style: normal;
  font-weight: 300; // light
  src:
    url('../fonts/selawik-light.woff2') format('woff2'),
    url('../fonts/selawik-light.woff') format('woff');
}
